body{
    background-color: black;
    color: white;
}
#loki img{
   border: 1px solid red;
   height: 120px;
   width: 100px;
}
#drdoom img{
    border: 1px solid red;
    height: 120px;
    width: 100px;
 }
 #moon img{
    border: 1px solid red;
    height: 120px;
    width: 100px;
 }
 #thor img{
    border: 1px solid red;
    height: 120px;
    width: 100px;
 }